doctype html
html(lang='en')  
    head
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title Sphero Hack
      link(rel="icon", type="image/png", href="static/img/favicon.png")
      link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
      link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css")
      link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
      link(rel="stylesheet", type="text/css", href="static/css/style.css")
    body
