doctype html
html(lang='en')  
    head
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title Sphero Hack
      link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
      link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css")
    body
