nav#primary-nav
  ul.nav-tabs
    li.nav-brand
      img(src='static/img/brand-logo.svg', alt='Saphero')
    li
      a.active(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/icons/bluetooth_blue.svg', alt='Connect')
          .col-xs-8 Connect
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/icons/controller.svg', alt='Move')
            
          .col-xs-8 Move
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/icons/dropper.svg', alt='Colors')
          .col-xs-8 Colors
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/icons/settings.svg', alt='Settings')
          .col-xs-8 Settings
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/icons/about.svg', alt='About')
          .col-xs-8 About
