nav#primary-nav
  ul.nav-tabs
    li.nav-brand
      img(src='static/img/bb8.svg', alt='Saphero')
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/bluetooth.svg', alt='Connect')
          .col-xs-8 Connect
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/controller.svg', alt='Move')
          .col-xs-8 Move
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/dropper.svg', alt='Colors')
          .col-xs-8 Colors
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/settings.svg', alt='Settings')
          .col-xs-8 Settings
    li
      a(href='#')
        .row.middle-xs
          .col-xs-4
            img.nav-icon(src='static/img/settings.svg', alt='About')
          .col-xs-8 About
