include ./partials/_layout
include ./partials/_navigation

#app-background
  .row
    .col-xs
      .box
        h2 About

  .row
    .col-xs-12.col-sm.col-md-6.col-lg-4
      .box
        h2 Natalie Chow
        img.team-img(src="static/img/natalie.jpg")
    .col-xs-12.col-sm.col-md-6.col-lg-4
      .box
        h2 Sabrina Tee
        img.team-img(src="static/img/bb8.png")
    .col-xs-12.col-sm.col-md-6.col-lg-4
      .box
        h2 Logan Tegman
        img.team-img(src="static/img/logan.jpg")
    .col-xs-12.col-sm.col-md-6.col-lg-4
      .box
        h2 Jose Tello
        img.team-img(src="static/img/jose.jpg")
    .col-xs-12.col-sm.col-md-6.col-lg-4
      .box
        h2 Jesse Thach
        img.team-img(src="static/img/jesse.jpg")
