include ./partials/_layout
include ./partials/_navigation
include ./partials/_modal
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js')

.content
  h1.page-header Is this the droid you're looking for?
  .row.bottom-xs
    .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4.connect-panel
      img(src='static/img/sprk.svg')
      input.btn(id='connect-btn-sprk', type='button', value='Connect to SPRK')
      ul.connect-req
        li this thing works
        li check this check that check check check everything
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

script(type='text/javascript', src='static/js/setup-socket.js')
