include ./partials/_layout
include ./partials/_navigation
#app-background.row
    .col-md-6
        .box
          h2 Sample Header
          button.btn Sample Button
    .col-md-6
        .box
          h2 Sample Header
          button.btn Sample Button

script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.0.min.js')
script(type='text/javascript', src='static/js/handle-nav.js')
