include ./partials/_layout

<<<<<<< HEAD
.row#sample
    .col-xs-offset-3.col-xs-9
        .box offset
=======
.row.center-xs
    .col-xs-6
        .box
          h1 
            a(href='https://github.com/saphero/sphero-hack') Welcoming to the Landing Page for Sphero Hack
>>>>>>> 198b6390331532745dd2b0c827e07c48c102d9a2
