include ./partials/_layout

#app-background.row
    .col-md-6
        .box
          h2 Sample Header
          button.btn Sample Button
    .col-md-6
        .box
          h2 Sample Header
          button.btn Sample Button
