<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sphero Hack</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body></body>
</html>
<nav id="primary-nav">
  <ul class="nav-tabs">
    <li class="nav-brand"><img src="static/img/brand-logo.svg" alt="Saphero"></li>
    <li><a href="#" class="active">
        <div class="row middle-xs">
          <div class="col-xs-4"><img src="static/img/icons/bluetooth_blue.svg" alt="Connect" class="nav-icon"></div>
          <div class="col-xs-8">Connect</div>
        </div></a></li>
    <li><a href="#">
        <div class="row middle-xs">
          <div class="col-xs-4"><img src="static/img/icons/controller.svg" alt="Move" class="nav-icon"></div>
          <div class="col-xs-8">Move</div>
        </div></a></li>
    <li><a href="#">
        <div class="row middle-xs">
          <div class="col-xs-4"><img src="static/img/icons/dropper.svg" alt="Colors" class="nav-icon"></div>
          <div class="col-xs-8">Colors</div>
        </div></a></li>
    <li><a href="#">
        <div class="row middle-xs">
          <div class="col-xs-4"><img src="static/img/icons/settings.svg" alt="Settings" class="nav-icon"></div>
          <div class="col-xs-8">Settings</div>
        </div></a></li>
    <li><a href="#">
        <div class="row middle-xs">
          <div class="col-xs-4"><img src="static/img/icons/about.svg" alt="About" class="nav-icon"></div>
          <div class="col-xs-8">About</div>
        </div></a></li>
  </ul>
</nav>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="static/js/handle-nav.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
<div class="content">
  <h1 class="page-header">Is this the droid you're looking for?</h1>
  <div class="row bottom-xs">
    <div class="col-sm-4 col-sm-offset-2 connect-panel"><img src="static/img/bb8.svg">
      <input id="connect-btn-bb8" type="button" value="BB-8/Ollie" class="btn">
    </div>
    <div class="col-sm-4 connect-panel"><img src="static/img/sprk.svg">
      <input id="connect-btn-sprk" type="button" value="SPRK" class="btn">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <ul class="connect-req">
        <li>this thing needs to work</li>
        <li>check this check that check check check everything</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="connect-req">
        <li>this thing works</li>
        <li>check this check that check check check everything</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="static/js/setup-socket.js"></script>
<link rel="stylesheet" type="text/css" href="static/vendor/sweetalert.css">
<script src="static/vendor/sweetalert.min.js"></script>
<script src="static/js/modal.js"></script>