include ./partials/_layout
include ./partials/_navigation

#app-background.row.content
    .col-md-6
        .box
          h2 Sample Header
          button.btn Sample Button
    .col-md-6
        .box
          h2 Sample Header
          input.btn(type='button', value='clickme', onclick='swal()')

include ./partials/_modal
