include ./partials/_layout
include ./partials/_navigation

#app-background
  .row
    .col-xs
      .box
        h2 Move 

  .row
    .col-xs-12.col-sm.col-md-6.col-lg-5
      .box
        h2 Section 1
    .col-xs-12.col-sm.col-md-6.col-lg-7
      .box
        h2 Section 2
        .ctrl-wrapper
          button.ctrl-btn ^
            .btn-wrapper
                button.ctrl-btn <
