include ./partials/_layout
include ./partials/_navigation

#app-background
  .row
    .col-xs
      .box
        h2 Move 

  .row
    .col-xs-12.col-sm.col-md-6.col-lg-5
      .box
        h2 Section 1
    .col-xs-12.col-sm.col-md-6.col-lg-7
      .box
        h2 Section 2
      .ctrl-wrapper.row
        .col-xs-6
          h4 Direction
          button.ctrl-btn ^
          .col-xs-12.col-sm.col-md.col-lg
            .btn-wrapper
              button.ctrl-btn <
              button#center-btn.ctrl-btn v
              button.ctrl-btn >
        .col-xs-6
          .col-xs-12.col-sm.col-md.col-lg
            h4 Speed
            button#left-btn.ctrl-btn O
            button.ctrl-btn P
          .col-xs-12.col-sm.col-md.col-lg.row
            h4 -
            h4 +
