#color_squares {
  padding-right: 24px;
}

.palette {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 18px 3px;
	border: 3px solid $base-color-white;
  border-radius: 1px;
  cursor: pointer;
  &.dark-text {
    color: $tert-color-slate;
  }
}

#hsv_map {
	height: 300px;
	position: relative;
  .cover {
  	opacity: 0;
  	background-color: #000;
  	position: absolute;
  	top: 0px;
  	bottom: -1px;
  	left: 0px;
  	border-radius: 50%;
  	cursor: crosshair;
    width: 300px;
  }
  .bar-bg, .bar-white {
  	position: absolute;
  	top: 0;
    left: 320px;
  	width: 25px;
  	height: 300px;
  }
  .bar-white {
  	background-color: #fff;
  }
  .hsv-cursor {
  	position: absolute;
  	border: 1px solid #eee;
  	border-radius: 50%;
  	width: 9px;
  	height: 9px;
  	cursor: default;
  	margin: -5px;
  	cursor: crosshair;
    .dark {
    	border-color: #333;
    }
    .no-cursor {
    	cursor: none;
    }
  }
  #luminanceBar {
  	position: absolute;
    top: 0;
    left: 320px;
  }
  #hsv_cursors {
  	position: absolute;
    top: 0;
    left: 320px;
  	width: 25px;
  	height: 300px;
  	overflow: hidden;
  }
  .hsv-barcursor-l, .hsv-barcursor-r {
  	position: absolute;
  	width: 0;
  	height: 0;
  	border: 4px solid transparent;
  	margin-top: -4px;
  }
  .hsv-barcursor-l {
  	left: 0;
  	border-left: 4px solid #eee;
  }
  .dark .hsv-barcursor-l {
    border-left-color: #333;
  }
  .hsv-barcursor-r {
  	right: 0;
  	border-right: 4px solid #eee;
  }
  .dark .hsv-barcursor-r {
    border-right-color: #333;
  }
}

#testPatch {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: white;
  width: 300px;
  cursor: default;
  padding: 18px 3px;
  margin-top: 12px;
}
