@mixin rotate($deg: 0deg) {
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}
#accel_graph {
  width: 400px;
  height: 300px;
}
#speed_graph {
  width: 600px;
  height: 300px;
}
.ctrl-wrapper {
  padding: 10px;
  border: 1px solid $sec-color-slate;
  min-height: 100px;
  text-align: center;
  margin: 1.65em;
}
.ctrl-btn {
  height: 50px;
  width: 50px;
  margin-right: 4px;
  margin-bottom: 4px;
  @include btn3D($tert-color-liteblue);
  font-weight: bold;
  &:hover, &:active {
    background-color: $base-color-turq;
    border-bottom-color: darken($base-color-turq, 10%);
    -webkit-box-shadow: inset 0 -2px darken($base-color-turq, 10%);
    box-shadow: inset 0 -2px darken($base-color-turq, 10%);
  }
  &.active-btn {
    background-color: $base-color-turq;
    position: relative;
    top: 1px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &#up-btn img {
    @include rotate(180deg);
  }
  &#left-btn img {
    @include rotate(90deg);
  }
  &#right-btn img {
    @include rotate(270deg);
  }
}
.speed-indicator {
  width: 50px;
  color: $tert-color-slate;
}
