// BASE STYLES FOR SCAFFOLDING

// Font Weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font(s)
$base-font-family: sans-serif;
$header-font-family: Arial;
$base-font-size: 12px;

// Color Palette
$base-color-navy: #020030;
$base-color-white: #F4EFF7;
